<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-radio-group/paper-radio-group.html">
<link rel="import" href="../paper-radio-button/paper-radio-button.html">
<link rel="import" href="../iron-form/iron-form.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">


<dom-module id="pw-form">
  <template>
    <style>
      :host {
        display: block;
        --borde-default: 1px solid blue;
      }

      div.contenedor{
        padding: 5px;
        border: var(--borde-default, 2px solid black);
      }

      div.inputs{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
      }

      div.radio{
        font-size: 9px;
      }

      paper-radio-button.red {
        --paper-radio-button-checked-color: var(--paper-red-500);
        --paper-radio-button-checked-ink-color: var(--paper-red-500);
        --paper-radio-button-unchecked-color: var(--paper-red-900);
        --paper-radio-button-unchecked-ink-color: var(--paper-red-900);
        --paper-radio-button-label-color: var(--paper-red-500);
      }
    </style>

    <h3>pw - form</h3>
    <div class="contenedor">
      <iron-form id="ironForm">
        <form action="[[action]]" method="[[method]]" enctype="[[enctype]]" id="form">
          
          <div class="inputs">
            <paper-input label="Nombre" always-float-label value="{{name}}" required type="text" auto-validate name="name" pattern="^[a-zA-Z\s]{7,}$"></paper-input>
            <paper-input label="Email" always-float-label value="{{mail}}" required type="email" auto-validate name="email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"></paper-input>                  
          </div>

          <div class="inputs">
            <div class="radio">
              <label  id="sexo">Sexo:</label>
              <paper-radio-group aria-labelledby="sexo" selected="{{genre}}">
                <paper-radio-button class="red" name="Hombre">Hombre</paper-radio-button>
                <paper-radio-button class="red" name="Mujer">Mujer</paper-radio-button>
              </paper-radio-group>
            </div>
            <paper-input label="Telefono" always-float-label value="{{tel}}" char-counter maxlength="10" always-float-label required type="tel" auto-validate name="tel" pattern="^[0-9]{10,}$"></paper-input>
          </div>

          <div class="inputs">
            <paper-button raised on-click="__sendHandler" class="primary">Aceptar</paper-button>
            <paper-button raised on-click="__cancelHandler" class="danger">Cancelar</paper-button>
          </div>
        </form>
      </iron-form>
  </div>  

   <!--[[name]] [[mail]] [[tel]] [[genre]]-->

  <iron-ajax
      id="put"
      method="PUT"
      url="https://api.myjson.com/bins/oli3r"
      body="[[data]]" 
      content-type="application/json"
      handle-as="json"
      on-response="__responseHandler"
      on-error="__errorResponseHandler"
    ></iron-ajax>

    <iron-ajax
      auto
      id="get"
      method="GET"
      url="https://api.myjson.com/bins/oli3r"
      handle-as="json"
      on-response="__responseGetHandler"
      on-error="__errorResponseHandler"
    ></iron-ajax>
    
    <!--<template is="dom-repeat" items="[[data]]">
      <p>[[item.name]] [[item.mail]] [[item.tel]]</p>
    </template>-->
  </template>

  <script>
    /**
     * `pw-form`
     * formulario
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PwForm extends Polymer.Element {
      static get is() { return 'pw-form'; }
      static get properties() {
        return {
          name: {
            type: String
          },
          tel: {
            type: String
          },
          mail: {
            type: String
          },
          genre:{
            type:String
          },
          data: {
            type: String
          }
        };
      }

      __sendHandler() {
        this.data = [...this.data, ...[{ name: this.name, mail: this.mail, tel: this.tel ,genre : this.genre}] ];
        this.$.put.generateRequest();
        
        const newItemEvent = new CustomEvent('pw-form-addContact',{
          bubbles: true,
          composed: true,
          detail: this.data
        });
        this.dispatchEvent(newItemEvent);
      }

      __cancelHandler() {
        console.log(this.$);
        this.$.ironForm.reset();
      }

      __errorResponseHandler(e) {
        console.log(e.detail)
      }

      __responseHandler(e) {
       console.log(e.detail);
      }

      __responseGetHandler(e) {
        console.log(e);
        const ironRequestInst = e.detail;
        if (ironRequestInst.status === 200) {
          this.data = ironRequestInst.response;
        }
      }

    }

    window.customElements.define(PwForm.is, PwForm);
  </script>
</dom-module>
